{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<h2 class="pizza-name" style="text-align:center;">
  <b>
    {{ state_variables.name }}
  </b>
</h2>

<div class="pizza-base"  style="
      background: url('{{ state_variables.variation.field_background }}');
      background-size: cover;
      width: {{ state_variables.variation.attribute_demo_pizza_size.field_width }}px;
      height: {{ state_variables.variation.attribute_demo_pizza_size.field_height }}px;
      position:relative;
">

{% for topping in state_variables.field_demo_topping %}
  <div class="pizza-layer" style="
          background: url('{{ topping.field_demo_topping_background }}');
          background-size: cover;
          width: 100%;
          height: 100%;
          position:absolute;
          "></div>
{% endfor %}

</div>
